# Server Configuration
PORT=4000
NODE_ENV=development
MOCK_STORE_URL=https://demo.inelabteamdev.com
CRON_SECRET=ine-scrape-cron-secret-2026

# Database Configuration (Optional: defaults to local JSON database data/db.json)
SUPABASE_URL=
SUPABASE_SERVICE_ROLE_KEY=

# Scraper Configuration
PLAYWRIGHT_CHANNEL=chromium
